<?xml version="1.0"?>
<launch>

    <arg name="robot_namespace" default="/"/>
    <arg name="model_name" default="limo_ackerman"/>
    <arg name="world_name" default="$(find limo_gazebo_sim)/worlds/clearpath_playpen.world"/>
    <arg name="x" default="1.6"/>
    <arg name="y" default="-3.494"/>
    <arg name="z" default="0.0"/>
    <arg name="yaw" default="0.0"/>
    <arg name="scan_topic" default="/limo/scan"/>
    <arg name="rviz_config" default="$(find limo_gazebo_sim)/rviz/limo_gmapping.rviz"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro '$(find limo_description)/urdf/limo_ackerman.xacro' robot_namespace:=$(arg robot_namespace)" />

    <node name="spawn_limo_model" pkg="gazebo_ros" type="spawn_model" args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -unpause
              -urdf
              -param robot_description
              -model $(arg model_name)" />

    <rosparam file="$(find limo_gazebo_sim)/config/limo_ackerman_control.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner"
          respawn="false" output="screen" args="limo_state_controller
                                limo_fl_steering_hinge_controller limo_fr_steering_hinge_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen">
        <remap from="scan" to="$(arg scan_topic)"/>
        <param name="base_frame" value="base_footprint"/>
        <param name="odom_frame" value="odom"/>
        <param name="map_frame" value="map"/>
        <param name="delta" value="0.05"/>
        <param name="particles" value="30"/>
        <param name="xmin" value="-20.0"/>
        <param name="ymin" value="-20.0"/>
        <param name="xmax" value="20.0"/>
        <param name="ymax" value="20.0"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" />

</launch>